watch_file .env
watch_file shell.nix
watch_file flake.nix

check_vars=("VAULT_ADDR" "AWS_ACCESS_KEY" "AWS_SECRET_KEY" "AWS_ENDPOINT_URL_S3")
for var in "${check_vars[@]}"; do
  if [[ -z "${!var}" ]] && ! grep -q "^$var=" .env; then
    echo -e "❌ \033[0;31m$var\033[0m is missing from .env!"
  fi
done

if [ -f flake.lock ]; then
  nix flake metadata --quiet > /dev/null 2>&1 # update lockfile for deduplicating
  if ! nix run github:fzakaria/nix-auto-follow -- -c; then
    nix run github:fzakaria/nix-auto-follow -- -i 
  fi
fi

if [ -f .env ]; then dotenv; fi
use flake 
